.bottomContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 40px;
    margin-bottom: 52px;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}