.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    min-height: 912px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingredients {
    max-height: 576px;
    overflow-y: scroll;
}

.placeholderContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}