.card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 272px;
    height: 208px;
    align-items: center;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.image {

}

