.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}

.main {
  margin: 0 380px;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 40px;
}