.container {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 620px;
    margin: 120px auto 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}