.container {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 620px;
    margin: 0 auto;
    align-items: center;
}


.created {
    align-self: start;
    color: #00CCCC;
    margin-top: 8px;
}

.pending {
    align-self: start;
    color: #ffffff;
    margin-top: 8px;
}

.decline {
    align-self: start;
    color: #E52B1A;
    margin-top: 8px;
}

.ingredients {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 264px;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    overflow: auto;
    scroll-behavior: smooth;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.feed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    align-self: flex-start;
}

.image {
    width: 62px;
    height: 62px;
    border-radius: 100px;
    border: 2px solid #801AB2;
    background: #131316;
    object-fit: contain;
}