.container {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 40px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 40px;
    background: #1C1C21;
    min-width: 536px;
    min-height: 166px;
}

.number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}