.container {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 40px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 40px;
    background: #1C1C21;
    min-width: 536px;
    min-height: 166px;
    padding: 24px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.images {
    display: flex;
    flex-direction: row;
    align-content: center;
    max-width: 304px;
    max-height: 64px;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.image {
    width: 62px;
    height: 62px;
    border-radius: 100px;
    border: 2px solid #801AB2;
    background: #131316;
    object-fit: contain;
}

.slot {
    margin-right: -16px;
}

.extra {
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: -16px;
}

.extraTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.extraImage {
    width: 62px;
    height: 62px;
    border-radius: 100px;
    border: 2px solid #801AB2;
    background: #131316;
    position: absolute;
}