.container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 480px;
}

.edit {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-self: end;
    max-width: 261px;
}

.button {
    margin: 0;
    padding: 0;
}